.responsive-breakpoints-debug::before {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  z-index: 10;
  padding: 0.25rem 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border-radius: 0 0 0 0.25rem;
}

@screen sm {
  .responsive-breakpoints-debug::before {
    content: 'sm';
  }
}
@screen md {
  .responsive-breakpoints-debug::before {
    content: 'md';
  }
}
@screen lg {
  .responsive-breakpoints-debug::before {
    content: 'lg';
  }
}
@screen xl {
  .responsive-breakpoints-debug::before {
    content: 'xl';
  }
}
@screen 2xl {
  .responsive-breakpoints-debug::before {
    content: '2xl';
  }
}
